/* Contenedor principal */
.app-container {
  display: flex;
  height: 100vh;
}

/* Menú lateral */
.sidebar {
  width: 350px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

/* Contenedor principal (derecha del menú) */
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Header */
header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contenedor del contenido principal */
.content-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Footer */
.footer {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  text-align: center;
}